.wrapper{
    height: auto;
    padding: 20px;
    width: 100%;

    flex-grow: 1;
    /* to make sure the body takes the rest of the space the header and footer is not taking */
    box-sizing: border-box;
}